@charset "UTF-8";
@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
}
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
	box-sizing: border-box;
}
body {
	line-height: 1;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	border-radius: 3px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link , a:visited , a:hover , a:active{
    text-decoration: none;
}
/*RESET END*/
/*SERVISE CLASS-ES*/
.wrapper {margin: 0 auto;}
.col-1 {width: 280px;}
.col-2 {width: 560px;}
.col-3 {width: 840px;}
.col-4 {width: 1120px;}
.float-left {float: left;}
.float-right {float: right;}
.clearfix:after {
content: "";
display: table;
clear: both;
}
/*SERVISE CLASS-ES END*/

.main-header {
	background: #87509c;
	padding: 58px 0 148px 0;
	text-align: center;
}
.logo {
	display: block;
    margin: 0 0 0 50px;
    width: 117px;
    height: 37px;
    background: url(../img/logo.png) no-repeat 0 0;
    text-indent: -9999px;
}
.wrap-nav {
    margin: 0 0 145px 0;
}
.hi-heading {
	display: block;
    margin: 0 0 50px 0;
    font-size: 42px;
    line-height: 49px;
    color: #f7f3ea;
}
.navigation-links {
	display: inline-block;
    padding: 15px 10px;
    margin: 0 0 0 15px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 3px;
}
.navigation-links:hover {
    background: #643a79;
}
.button-work {
	display: inline-block;
    padding: 29px 82px 25px 82px;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    background: #eb7d4b;
    border-radius: 3px;
    border-bottom: 4px solid #c86a40;
    width: 295px;
}
.green-section {
	background-color: #17c2a4;
	padding: 120px 0 100px 0;
	text-align: center;
}
.services-provide {
	font-size: 40px;
	font-weight: bold;
	color: white;
	line-height: 0.748;
	text-align: center;
	padding-bottom: 25px;
}
.Line {
	background-color: rgb(0, 0, 0);
	opacity: 0.149;
	width: 87px;
	height: 4px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.we-are-heading {
	font-size: 18px;
	color: white;
	line-height: 1.444;
	margin-bottom: 75px;
}
.img-tools {
	margin:0 auto;
	margin-bottom: 60px;
}
.heading-under-img {
	font-size: 24px;
	color: white;
	text-transform: uppercase;
	line-height: 0.75;
	text-align: center;
	margin-bottom: 25px;
}
.Lorem-paragraph {
	font-size: 16px;
	color: white;
	line-height: 1.5;
	text-align: center;
	padding: 40px;
}
.blue-section {
	background-color: #e7f1f8;
	padding: 120px 0 130px 0;
	text-align: center;
}
.gray-font {
	color: #3c4761;
}
.Base {
	border-radius: 50%;
	background-color: rgb(135, 135, 135);
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom:40px;
}
.CEO {
	font-size: 16px;
	color: rgb(48, 186, 231);
	line-height: 1.125;
	text-align: center;
	padding-bottom: 30px;
}
.heading-under-img2 {
	font-size: 24px;
	color: #3c4761;
	text-transform: uppercase;
	line-height: 0.75;
	text-align: center;
	margin-bottom: 20px;
}
.Lorem-paragraph2 {
	font-size: 16px;
	color: #3c4761;
	line-height: 1.5;
	text-align: center;
	padding: 0 35px;
}
.face-twitter {
	padding: 6px;
}
.white-section {
	background-color: white;
	padding: 120px 0 130px 0;
	text-align: center;
}
.percent-img {
	margin: 0 auto;
	margin-bottom: 30px;
}
.yellow-section {
	background-color: #ffdd99;
	padding: 120px 0 110px 0;
	text-align: center;
}
.strange-navigation-links {
	display: inline-block;
    padding: 12px 18px;
    font-size: 18px;
    margin: 0px 5px 60px 5px;
    text-transform: uppercase;
    color: #393939;
    border-radius: 3px;
    line-height: 1.083;
    text-align: center;
    background: #ebc985;
}
.strange-navigation-links:active {
	background: #ffffff;
}
.bottom45 {
	margin-bottom: 0px;
}
.pc-img {
	margin-bottom: 30px;
	width: 97%;
}
.Viro {
	font-size: 18px;
	color: rgb(57, 57, 57);
	text-transform: uppercase;
	line-height: 1.083;
	text-align: center;
	margin-bottom: 65px;
}
.button-load {
	display: inline-block;
    padding: 29px 82px 25px 82px;
    line-height: 1.455;
    color: #ffffff;
    background: #17c2a4;
    border-radius: 3px;
    border-bottom: 4px solid #14a58c;
    font-size: 13.403px;
    color: white;
    width: 295px;
}
.pink-section {
	background-color: #d74680;
	padding: 120px 0 50px 0;
	text-align: center;
}
.base2 {
	border-radius: 50%;
	background-color: rgb(120, 120, 120);
	width: 96px;
	height: 96px;
	display: inline-block;
    float: left;
    margin-left: 20px;
}
.base2-right {
	border-radius: 50%;
	background-color: rgb(120, 120, 120);
	width: 96px;
	height: 96px;
	display: inline-block;
    float: left;
    margin-left: 40px;
}
.nullam {
	font-size: 17.5px;
	color: white;
	line-height: 1.486;
	padding:10px 20px 30px 45px;
	width: 370px;
}
.name-of-star {
	font-size: 24px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.083;
	text-align: left;
	padding:0 20px 0 45px;
}
.found {
	font-size: 18px;
	color: rgb(255, 221, 153);
	line-height: 1.444;
	text-align: left;
	padding:0 20px 0 45px;
}
.wrap-in-left {
	float: left;
}
.wrap-content {
	margin: 70px 0 80px;
}
.dark-blue-section {
	background-color: #3c5499;
	padding: 115px 0 115px 0;
	text-align: center;
}
.email {
	float: left;
	background-color: #273a71;
	padding: 20px;
	border-radius: 3px;
	border: 0;
	margin-left: 15px;
	width: 415px;
	margin-bottom: 27px;
}
.name {
	float: right;
	background-color: #273a71;
	padding: 20px;
	border-radius: 3px;
	border: 0;
	margin-right: 15px;
	width: 415px;
	margin-bottom: 27px;
}
.message {
	width: 860px;
	height: 200px;
	padding: 20px;
	margin-bottom: 60px;
	background-color: #273a71;
	border-radius: 3px;
	border: 0;
}
.submit-button {
	display: block;
	border: 0;
    padding: 29px 82px 25px 82px;
    line-height: 1.455;
    color: #ffffff;
    background: #30bae7;
    border-radius: 3px;
    border-bottom: 4px solid #299ec5;
    font-size: 13.403px;
    color: white;
    margin: 0 auto;
    width: 295px;
}
.footer {
	background-color: #344b8e;
}
.media-social {
	padding: 40px 100px;
}
.social {
	font-size: 24px;
	color: white;
	font-family:'Myriad Pro Regular';
	font-weight:normal;
	line-height: 1.246;
	text-align: center;
	width: 14.2%;
	float: left;
}
footer a:hover {
	color: #30bae7;
}






@media screen and (max-width: 1200px) {
	.col-1 {width: 25%;}
	.col-2 {width: 50%;}
	.col-3 {width: 75%;}
	.col-4 {width: 100%;}
}
@media screen and (max-width: 900px) {
	.col-1 {width: 50%;}
	.col-2 {width: 100%;}
	.col-3 {width: 100%;}
	.col-4 {width: 100%;}
	.base2-right {margin-left: 0px;}
	.base2 {margin-left: 0px;}
	.message { width: 100%; margin:10px 0;}
	.name { width: 100%; margin:10px 0;}
	.email { width: 100%; margin:10px 0;}
	.social { width: 24%;}
}
@media screen and (max-width: 600px) {
	.col-1 {width: 100%;}
	.col-2 {width: 100%;}
	.col-3 {width: 100%;}
	.col-4 {width: 100%;}
	.social { width:33.3%;}
}